@(groups: List[String], activeGroup: String, urlPrefix: String, charts: List[Chart], pointsTotal: Int)

@main("real time chart") {
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Back to Nodes List</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
        @for(group <- groups) {
            <li @if(activeGroup == group) {class="active"} ><a href='@(urlPrefix + group + "/charts")'><strong>@group</strong></a></li>
        }
        </ul>

        <form id="pointsForm" class="navbar-form navbar-right" action='@(urlPrefix + activeGroup + "/charts")' method="get" >
            <span >show last</span>
            <div class="form-group" style="width:60px">
                <input type="text" class="form-control" id="pointsTotal" name="pointsTotal" value="@pointsTotal">
            </div>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id="pointsCountList" >
            @for(i <- 10 to 40 by 10) {
                <li><a href='@if(i == pointsTotal) {#} else {@(urlPrefix + activeGroup + "/charts?pointsTotal=" + i)}'>@i</a></li>
            }
            </ul>
            <span >points</span>
        </form>

    </div>

</nav>

@for(chart <- charts) {
    <div class='well'><div id="@chart.name"></div></div>
}

<script src='@routes.Assets.at("highcharts/highcharts.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/charts.js")' type="text/javascript"></script>
<script type="text/javascript" >
$(function() {

	$('#pointsTotal').keyup(function (e) {
        this.value = this.value.replace(/[^0-9\.]/g,'')
        if (this.value != "") {
            var count = parseInt(this.value)
            if(count > @Application.pointsMax) count = @Application.pointsMax
            this.value = count
        }
    })

    $('#pointsForm').submit(function(e) {
        var pointsTotal = $('#pointsTotal').val()
        if (pointsTotal == "" || pointsTotal == @pointsTotal)
            event.preventDefault()
    })

    @for(chart <- charts) {
    makeChart("@chart.title", "@chart.yAxisTitle", @pointsTotal, "@(urlPrefix + activeGroup + "/" + chart.name + "/")")
    }
})
</script>

}